<section class="content-header">
    <h1>JOB CARD <small>manage job cards</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-default" style="height: 193px;">
                <div class="box-header">
                    <i class="fa fa-file-text"></i> <h4 class="box-title">JOB DETAILS</h4>
                </div>

                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="job-no">JOB NO.:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="job-no" ng-model="job.jobNo" uib-typeahead="job.jobNo for job in getJobs($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setJob($item)" ng-disabled="mode !== 'IDEAL'">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="job-date">JOB DATE:</label>
                            <div class="col-sm-8"> 
                                <input type="date" class="form-control" id="job-date" ng-model="job.jobDate" ng-disabled="mode === 'IDEAL'">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="in-time">IN TIME:</label>
                            <div class="col-sm-8"> 
                                <input type="time" class="form-control" id="in-time" ng-model="job.inTime" ng-disabled="mode === 'IDEAL'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-automobile"></i> <h4 class="box-title">VEHICLE DETAILS</h4>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="vehicle-no">VEHICLE NO.:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="vehicle-no" ng-model="job.vehicle.vehicleNo" uib-typeahead="vehicle.vehicleNo for vehicle in getVehicles($viewValue) | filter:$viewValue | limitTo:8"  typeahead-on-select="setVehicle($item)" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="make">MAKE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="make" ng-model="job.vehicle.make" uib-typeahead="make for make in getVehicleMake($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="in-millage">IN MILLAGE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="in-millage" ng-model="job.vehicle.inMillage" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="type">TYPE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="type" ng-model="job.vehicle.type" uib-typeahead="type for type in getVehicleType($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="days">KM RATE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="days" ng-model="job.vehicle.kmRate" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-user"></i> <h3 class="box-title">CUSTOMER DETAILS</h3>
                </div>

                <div class="box-body">
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="name">NAME:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">                                  
                                        <input type="text" class="form-control" id="name" ng-model="job.customer.name" uib-typeahead="customer.name for customer in getCustomers($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setCustomer($item)" ng-disabled="mode === 'IDEAL'">                            
                                        <div class="btn btn-default input-group-addon" data-toggle="modal" data-target="#customerSearchModel">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <div class="btn btn-default input-group-addon" data-toggle="modal" data-target="#newCustomerModal">
                                            <span class="fa fa-plus"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="address">ADDRESS:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="address" ng-model="job.customer.address" ng-disabled="mode === 'IDEAL'" style="height: 82px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="nic">NIC NO.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="nic" ng-model="job.customer.nic" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="mobile">MOBILE:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="mobile" ng-model="job.customer.mobile" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="fax">FAX:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="fax" ng-model="job.customer.fax" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="birthday">BIRTHDAY:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="birthday" ng-model="job.customer.birthday" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="telephone">TELEPHONE:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="telephone" ng-model="job.customer.telephone" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">EMAIL:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" ng-model="job.customer.email" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                </div>



                <!-- Modal -->
                <div class="modal fade" id="customerSearchModel" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Advance Search</h4>
                            </div>

                            <div class="modal-body no-padding">
                                <table class="table table-hover table-fixed">
                                    <thead class="btn-default">
                                        <tr>
                                            <th class="col-sm-3">
                                                CUSTOMER NAME
                                                <input id="othertext1" placeholder="Name" class="form-control" ng-model="search.customer.name" type="text">
                                            </th>

                                            <th class="col-sm-3">
                                                NIC NO.
                                                <input id="othertext1" placeholder="NIC" class="form-control" ng-model="search.customer.nic" type="text">
                                            </th>
                                            <th class="col-sm-3">
                                                ADDRESS:
                                                <input id="othertext1" placeholder="ADDRESS" class="form-control" ng-model="search.customer.address" type="text">
                                            </th>

                                            <th class="col-sm-3">
                                                TELEPHONE NO.
                                                <input id="othertext1" placeholder="Tel No" class="form-control" ng-model="search.customer.mobile" type="text">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="customer in getCustomers(null)| filter:search.customer" ng-click="doSelectCustomer(customer)" data-dismiss="modal">
                                            <td class="col-sm-3">{{customer.name}}</td>
                                            <td class="col-sm-3">{{customer.nic}}</td>
                                            <td class="col-sm-3">{{customer.address}}</td>
                                            <td class="col-sm-3">{{customer.mobile}}</td>
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--new customer-->
                <div class="modal fade" id="newCustomerModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Customer</h4>
                            </div>

                            <div class="modal-body no-padding">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="box box-default">
                                            <div class="box-header">
                                                <i class="fa fa-file-text"></i> <h4 class="box-title">CUSTOMER DETAIL</h4>
                                            </div>
                                            <div class="box-body">
                                                <div class="form-horizontal">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="pro-no">CUST NO.:</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" id="pro-no" class="form-control" ng-model="customer.indexNo" ng-disabled="true" value="1" uib-typeahead="customer.indexNo for customer in getCustomers($viewValue) | filter:$viewValue | limitTo:1" typeahead-on-select="setCustomer($item)">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="model-no">NIC NO.:</label>
                                                            <div class="col-sm-8"> 
                                                                <input type="text" class="form-control"  id="model-no" ng-model="customer.nic" ng-disabled="false">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="name">NAME:</label>
                                                            <div class="col-sm-8"> 
                                                                <input type="text" class="form-control" id="name" ng-model="customer.name" ng-disabled="false">                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="mobile">MOBILE:</label>
                                                            <div class="col-sm-8"> 
                                                                <input type="number" class="form-control" id="mobile" ng-model="customer.mobile" ng-disabled="false">                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="city">CITY:</label>
                                                            <div class="col-sm-8"> 
                                                                <input type="text" class="form-control" id="city" ng-model="customer.city" ng-disabled="false">                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="address">ADDRESS:</label>
                                                            <div class="col-sm-8"> 
                                                                <textarea name="" rows="3" cols="20"  id="address" class="form-control" ng-model="customer.address" style="height: 84px;" ng-disabled="false">
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-sm-4" for="email">EMAIL:</label>
                                                            <div class="col-sm-8"> 
                                                                <input type="email" class="form-control" id="email" ng-model="customer.email" ng-disabled="false">                                
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-horizontal">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4" for="credit">CDT LIMIT:</label>
                                                                <div class="col-sm-8 no-padding"> 
                                                                    <!--<label class="control-label col-sm-3" >AMOUNT</label>-->
                                                                    <div class="col-sm-6">
                                                                        <input type="number" id="credit"  value="" placeholder="Amount" ng-model="customer.creditLimitAmount" class="form-control" ng-disabled="false">
                                                                    </div>
                                                                    <!--<label class="control-label col-sm-3" >DAYS</label>-->
                                                                    <div class="col-sm-6">
                                                                        <input type="number" name="" value=""  placeholder="Days" ng-model="customer.creditLimitDays" class="form-control" ng-disabled="false">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4" for="black-list">BLK LIST:</label>
                                                                <div class="col-sm-8">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <input type="checkbox" name="" id="black-list" value="ON" ng-model="customer.blacklist" ng-disabled="false">
                                                                        </span>
                                                                        <input type="text" class="form-control" ng-model="customer.blacklistReason"  ng-disabled="false">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4" for="telephone">TELEPHONE:</label>
                                                                <div class="col-sm-8"> 
                                                                    <input type="number" class="form-control" ng-model="customer.telephone1" id="telephone" ng-disabled="false">                                
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-4 col-sm-8"> 
                                                                    <input type="number" class="form-control" ng-model="customer.telephone2" ng-disabled="false" >                                
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-offset-4 col-sm-8"> 
                                                                    <input type="number" class="form-control" ng-model="customer.telephone3" ng-disabled="false" >                                
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4" for="fax">FAX:</label>
                                                                <div class="col-sm-8"> 
                                                                    <input type="number" class="form-control" id="fax" ng-model="customer.fax" ng-disabled="false">  
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-4" ></label>
                                                                <div class="col-sm-8"> 
                                                                    <div class="checkbox">
                                                                        <label for="cash-customer">
                                                                            <input type="checkbox" id="cash-customer" value="ON" ng-model="customer.cashCustomer" ng-disabled="false"/>
                                                                            Cash Customer
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <button class="btn btn-flat btn-default" ng-show="true" ng-click="" data-dismiss=""><i class="fa fa-plus"></i> NEW</button>
                                                <button class="btn btn-flat btn-primary" ng-show="true" ng-click="" data-dismiss="modal"><i class="fa fa-edit"></i> SAVE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="customerSearchModel" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Advance Search</h4>
                            </div>

                            <div class="modal-body no-padding">
                                <table class="table table-hover table-fixed">
                                    <thead class="btn-default">
                                        <tr>
                                            <th class="col-sm-6">
                                                CUSTOMER NAME
                                                <input id="othertext1" placeholder="" class="form-control" ng-model="search.customer.name" type="text">
                                            </th>

                                            <th class="col-sm-3">
                                                NIC NO.
                                                <input id="othertext1" placeholder="" class="form-control" ng-model="search.customer.nic" type="number">
                                            </th>

                                            <th class="col-sm-3">
                                                TELEPHONE NO.
                                                <input id="othertext1" placeholder="" class="form-control" ng-model="search.customer.mobile" type="number">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="customer in getCustomers(null)| filter:search.customer" ng-click="doSelectCustomer(customer)" data-dismiss="modal">
                                            <td class="col-sm-6">{{customer.name}}</td>
                                            <td class="col-sm-3">{{customer.nic}}</td>
                                            <td class="col-sm-3">{{customer.mobile}}</td>
                                        </tr>    
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>