<section class="content-header">
    <h1>JOB CARD <small>manage job cards</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-file-text"></i> <h4 class="box-title">JOB DETAILS</h4>
                </div>

                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="job-no">JOB NO.:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="job-no" ng-model="job.jobNo" uib-typeahead="job.jobNo for job in getJobs($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setJob($item)" ng-disabled="mode !== 'IDEAL'">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="job-date">JOB DATE:</label>
                            <div class="col-sm-8"> 
                                <input type="date" class="form-control" id="job-date" ng-model="job.jobDate" ng-disabled="mode === 'IDEAL'">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="in-time">IN TIME:</label>
                            <div class="col-sm-8"> 
                                <input type="time" class="form-control" id="in-time" ng-model="job.inTime" ng-disabled="mode === 'IDEAL'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-automobile"></i> <h4 class="box-title">VEHICLE DETAILS</h4>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="vehicle-no">VEHICLE NO.:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="vehicle-no" ng-model="job.vehicle.vehicleNo" uib-typeahead="vehicle.vehicleNo for vehicle in getVehicles($viewValue) | filter:$viewValue | limitTo:8"  typeahead-on-select="setVehicle($item)" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="make">MAKE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="make" ng-model="job.vehicle.make" uib-typeahead="make for make in getVehicleMake($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="in-millage">IN MILLAGE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="in-millage" ng-model="job.vehicle.inMillage" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="type">TYPE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="type" ng-model="job.vehicle.type" uib-typeahead="type for type in getVehicleType($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="days">KM RATE:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="days" ng-model="job.vehicle.kmRate" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-user"></i> <h3 class="box-title">CUSTOMER DETAILS</h3>
                </div>

                <div class="box-body">
                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="name">NAME:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" ng-model="job.customer.name" uib-typeahead="customer.name for customer in getCustomers($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setCustomer($item)" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="address">ADDRESS:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="address" ng-model="job.customer.address" ng-disabled="mode === 'IDEAL'"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="nic">NIC NO.:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="nic" ng-model="job.customer.nic" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="mobile">MOBILE:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="mobile" ng-model="job.customer.mobile" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="fax">FAX:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="fax" ng-model="job.customer.fax" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="birthday">BIRTHDAY:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="birthday" ng-model="job.customer.birthday" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="telephone">TELEPHONE:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="telephone" ng-model="job.customer.telephone" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">EMAIL:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" ng-model="job.customer.email" ng-disabled="mode === 'IDEAL'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                </div>
            </div>
        </div>
    </div>


</section>