<section class="content-header">
    <h1>Product<small>manage product</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-file-text"></i> <h4 class="box-title">PRODUCT DETAIL</h4>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pro-no">PRO NO.:</label>
                                <div class="col-sm-8">
                                    <input type="text" name="" value="" id="pro-no" class="form-control" ng-model="product.proNo" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="brand">BRAND:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control" id="brand" ng-change="setDescription();"  typeahead-on-select="setDescription()" ng-model="product.brandName" uib-typeahead="brandName for brandName in getBrand($viewValue) | filter:$viewValue | limitTo:8" >                                
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="category">CATEGORY:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control" id="category" ng-change="setDescription();" typeahead-on-select="setDescription()" ng-model="product.categoryName" uib-typeahead="categoryName for categoryName in getCategory($viewValue) | filter:$viewValue | limitTo:8">                                
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="model-no">MODEL NO.:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control" id="model-no" ng-change="setDescription();" typeahead-on-select="setDescription()" ng-model="product.modelNo" uib-typeahead="modelno for modelno in getModelNo($viewValue) | filter:$viewValue | limitTo:8">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="description">DESCRIPTION:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control"  id="description" ng-model="product.description" ng-bind="product.brandName" value="product.brandName">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="print-desc">PRINT DESC.:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control" id="print-desc" ng-model="product.printdescription">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="re/order-qty">RE/ORDER QTY:</label>
                                <div class="col-sm-8"> 
                                    <input type="text" class="form-control" id="re/order-qty" ng-model="product.reorderqty">                                
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" ></label>
                                <div class="col-sm-8"> 

                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="group" checked="checked">
                                                STOCK
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="group">
                                                N.STOCK
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="group">
                                                SERVICE
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list-ul"></i> <h4 class="box-title">UNIT LIST</h4>   
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th class="col-sm-2">UNIT PRICE
                                    <input type="text" name="" ng-model="unit.unitPrice" value="" class="form-control "/>
                                </th>
                                <th class="col-sm-2">COST
                                    <input type="text" name="" ng-model="unit.cost" value="" class="form-control"/>
                                </th>
                                <th class="col-sm-2">SELLING PRICE
                                    <input type="text" name="" value="" ng-model="unit.sellingPrice" class="form-control"/>
                                </th>
                                <th class="col-sm-2">QTY
                                    <input type="text" name="" value="" ng-model="unit.qty"  ng-keypress="checkEnterPressed($event)" class="form-control"/>
                                </th>
                                <th>OPTIONS<br>
                                    <button class="btn btn-primary  btn-flat" ng-click="addUnit()"><i class="fa fa-plus"></i> ADD</button>
                                </th>
                            </tr>
                            <tr ng-repeat="unit in getUnits()">
                                <td >{{ $index + 1}}</td>
                                <td ng-bind="unit.unitPrice"></td>
                                <td ng-bind="unit.cost"></td>
                                <td ng-bind="unit.sellingPrice"></td>
                                <td ng-bind="unit.qty"></td>
                                <td>
                                    <button class="btn btn-danger btn-flat btn-xs" ng-click="remove($index)">REMOVE</button>
                                    <button class="btn btn-warning btn-flat btn-xs" ng-click="update(unit, $index)">EDIT</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="showSave();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="showNew();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                </div>
            </div><!-- /.box -->
        </div>

    </div>
</section>