<section class="content-header">
    <h1>Product<small>manage product</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">

        <div class="col-sm-6">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-file-text"></i> <h4 class="box-title">PRODUCT DETAIL</h4>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="productNo">PRODUCT NO.:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="productNo" ng-model="product.productNo" ng-disabled="mode !== 'IDEAL'"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="brand">BRAND:</label>
                            <div class="col-sm-9"> 
                                <input type="text" class="form-control" id="brand" ng-change="updateProductDescription();" ng-disabled="mode === 'IDEAL'" typeahead-on-select="updateProductDescription()" ng-model="product.brand" uib-typeahead="brandName for brandName in getBrands($viewValue) | filter:$viewValue | limitTo:8" >                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="category">CATEGORY:</label>
                            <div class="col-sm-9"> 
                                <input type="text" class="form-control" id="category" ng-change="updateProductDescription();" ng-disabled="mode === 'IDEAL'" typeahead-on-select="updateProductDescription()" ng-model="product.category" uib-typeahead="categoryName for categoryName in getCategories($viewValue) | filter:$viewValue | limitTo:8">                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="model">MODEL:</label>
                            <div class="col-sm-9"> 
                                <input type="text" class="form-control" id="model" ng-change="updateProductDescription();" ng-disabled="mode === 'IDEAL'" typeahead-on-select="updateProductDescription()" ng-model="product.model" uib-typeahead="modelno for modelno in getModels($viewValue) | filter:$viewValue | limitTo:8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-default"  style="height: 260px;">
                <div class="box-header">
                    <i class="fa fa-file-text"></i> <h4 class="box-title">PRODUCT DETAIL</h4>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="description">DESCRIPTION:</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control"  id="description" ng-model="product.description" value="product.brandName" ng-disabled="mode === 'IDEAL'">                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="print-desc">PRINT DESCRIPTION:</label>
                            <div class="col-sm-8"> 
                                <input type="text" class="form-control" id="print-desc" ng-model="product.printDescription" ng-disabled="mode === 'IDEAL'">                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="reorder-qty">RE-ORDER QTY:</label>
                            <div class="col-sm-8"> 
                                <input type="number" class="form-control" id="reorder-qty" ng-model="product.reOrderQuantity" ng-disabled="mode === 'IDEAL'">                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" ></label>
                            <div class="col-sm-8"> 

                                <div class="col-sm-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="stockType" ng-value="STOCK" ng-model="product.stockType" checked ng-disabled="mode === 'IDEAL'">
                                            STOCK
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="stockType" ng-value="NON-STOCK" ng-model="product.stockType" ng-disabled="mode === 'IDEAL'">
                                            N.STOCK
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="stockType" ng-value="SERVICE" ng-model="product.stockType" ng-disabled="mode === 'IDEAL'">
                                            SERVICE
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list-ul"></i> <h4 class="box-title">PRODUCT UNITS</h4>   
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="col-sm-4">UNIT NAME
                                    <input type="text" name="" ng-model="tempUnit.unitName" value="" class="form-control " ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-2">COST PRICE
                                    <input type="number" name="" ng-model="tempUnit.costPrice" value="" class="form-control" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-2">SALES PRICE
                                    <input type="number" name="" value="" ng-model="tempUnit.salesPrice" class="form-control" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-2">QUANTITY
                                    <input type="number" name="" value="" ng-model="tempUnit.quantity"  ng-keypress="AddUnitKeyEvent($event)" class="form-control" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th>
                                    <br>
                                    <button class="btn btn-primary  btn-flat" ng-click="doAddUnit()" style="width: 92px;"><i class="fa fa-plus"></i> ADD</button>
                                </th>
                            </tr>
                            <tr ng-repeat="unit in product.units">
                                <td class="text-center">{{ $index + 1}}</td>
                                <td class=""           ng-bind="unit.unitName"></td>
                                <td class="text-right" ng-bind="unit.costPrice"></td>
                                <td class="text-right" ng-bind="unit.salesPrice"></td>
                                <td class="text-right" ng-bind="unit.quantity"></td>
                                <td>
                                    <button class="btn btn-warning btn-flat btn-xs" ng-click="doEditUnit(unit)">EDIT</button>
                                    <button class="btn btn-danger btn-flat btn-xs" ng-click="doRemoveUnit(unit)">REMOVE</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                </div>
            </div><!-- /.box -->
        </div>

    </div>
</section>