<section class="content-header">
    <h1>STOCK TRANSFER <small>stock transfer with other branches</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-list"></i> <h4 class="box-title">STOCK ADJUSTMENT</h4>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12">

                                        <label class="control-label col-sm-5">PRODUCT NO.:</label>
                                        <div class="input-group">
                                            <input type="text" id="pro-no" class="form-control" >
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-flat" type="button" data-toggle="modal" data-target="#customerSearchModel"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="control-label col-sm-5">DESCRIPTION:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="control-label col-sm-5">STOCK QUANTITY.:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" >
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-sm-5">BALANCE VALUE:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" >
                                    </div>
                                </div> 
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="col-sm-12">

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">ADJUST QUANTITY.:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">ADJUST COST:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="control-label col-sm-5">ADJUST REASON:</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>

                </div>
            </div>
        </div>
    </div>
</section>