<section class="content-header">
    <h1>VOUCHER<small>create voucher</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-sm-12">

            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-file-text-o"></i> <h4 class="box-title">VOUCHER</h4>                
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="branchName">VOUCHER NO.:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="branchName" ng-disabled="true" ng-model="voucher.indexNo" uib-typeahead="branch.branchName for branch in getBranches($viewValue) | filter:$viewValue | limitTo:4" typeahead-on-select="setBranch($item)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="branchName">VOUCHER DATE:</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="branchName" ng-disabled="true"  ng-model="voucher.voucherDate" ng-model="branch.branchName" uib-typeahead="branch.branchName for branch in getBranches($viewValue) | filter:$viewValue | limitTo:4" typeahead-on-select="setBranch($item)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-list-ul"></i> <h4 class="box-title">VOUCHER DETAIL</h4>                
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="col-sm-12">
                            <table class="table table-hover table-fixed">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1">#</th>
                                        <th class="col-sm-2">DATE
                                            <input type="date" class="form-control" ng-model="voucher.date"/>
                                        </th>
                                        <th class="col-sm-3">DESCRIPTION
                                            <input type="text" class="form-control" ng-model="voucher.description"/>
                                        </th>
                                        <th class="col-sm-2">AMOUNT
                                            <input type="number" class="form-control" ng-model="voucher.amount"/>
                                        </th>
                                        <th class="col-sm-3">ACCOUNT
                                            <select class="form-control" ng-model="voucher.account">
                                                <option>Bank Account Sampath </option>
                                                <option>Bank Account HNB</option>
                                                <option>welfare 0202</option>
                                                <option>welfare 2222</option>
                                                <option>Other Customer</option>
                                                <option>Other Supplier</option>
                                            </select>
                                        </th>
                                        <th class="col-sm-1">
                                            <button class="btn btn-primary btn-flat btn-sm" style="margin-top: 20px" ng-click="doAdd();">ADD</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="voucher in getVouchers()" ng-click="doEdit(voucher);">
                                        <td class="col-sm-1">{{voucher.indexNo}}</td>
                                        <td class="col-sm-2">{{voucher.date| date : 'dd/MM/yyyy'}}</td>
                                        <td class="col-sm-3">{{voucher.description}}</td>
                                        <td class="col-sm-2">{{voucher.amount}}</td>
                                        <td class="col-sm-3">{{voucher.account}}</td>
                                        <td class="col-sm-1">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                    <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                    <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                    <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                </div>
            </div>
        </div>
    </div>
</section>