<section class="content-header">
    <h1>Invoice <small>manage invoice</small></h1>

    <ol class="breadcrumb">
        <li>A</li>
        <li>B</li>
        <li>C</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-list"></i> <h4 class="box-title">INVOICE DETAILS</h4>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="invoice-no">INVOICE NO.:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="invoice-no" ng-model="invoice.invoiceNo" uib-typeahead="invoiceNo for invoiceNo in getInvoiceNo($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode !== 'IDEAL'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="customer-name">CUSTOMER :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="customer-name" ng-model="invoice.customerName" uib-typeahead="customerName for customerName in getCustomers($viewValue) | filter:$viewValue | limitTo:8" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="date">DATE</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control input-sm" id="date" ng-model="invoice.date" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="date">UNKNOWN</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control input-sm" id="date" ng-disabled="mode === 'IDEAL'">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">    
        <div class="col-sm-12">
            <div class="box box-default">
                <div class="box-header">
                    <i class="fa fa-"></i><h3 class="box-title">PRODUCT AND MODEL DETAILS</h3>
                </div>

                <div class="box-body">
                    <table class="table table-hover table-fixed table-responsive">
                        <thead class="btn-default">
                            <tr>
                                <th class="col-sm-2">
                                    PRODUCT NO
                                    <div class="input-group">
                                        <input id="othertext1" class="form-control input-sm"  type="text" ng-keypress="checkEnter($event)" ng-model="tempProduct.productNo" uib-typeahead="tempProduct.productNo for tempProduct in getProducts($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setProducts($item)" ng-disabled="mode === 'IDEAL'" >
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-flat input-sm" type="button" data-toggle="modal" data-target="#productSearch"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </th>
                                <th class="col-sm-2">  
                                    MODEL NO
                                    <input id="othertext1" class="form-control input-sm"  type="text" ng-keypress="checkEnter($event)" ng-model="tempProduct.modelNo" uib-typeahead="tempProduct.modelNo for tempProduct in getModels($viewValue) | filter:$viewValue | limitTo:8" typeahead-on-select="setModels($item)" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-3">   
                                    DESCRIPTION
                                    <input id="othertext1"  class="form-control input-sm"  type="text" ng-model="tempProduct.description"  ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-1">      
                                    UNIT
                                    <input id="othertext1" class="form-control input-sm"  type="text" ng-keypress="checkEnter($event)" ng-model="tempProduct.unit" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-2">  
                                    UNIT PRICE
                                    <input id="othertext1" class="form-control input-sm"  type="text" ng-keypress="checkEnter($event)" ng-model="tempProduct.unitPrice" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-1">  
                                    REC QTY
                                    <input id="othertext1" class="form-control input-sm"  type="text" ng-keypress="checkEnter($event)" ng-model="tempProduct.recQty" ng-disabled="mode === 'IDEAL'">
                                </th>
                                <th class="col-sm-1">  
                                    VALUE(LKR)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in invoice.products">
                                <td class="col-sm-2">{{product.productNo}}</td>
                                <td class="col-sm-2">{{product.modelNo}}</td>
                                <td class="col-sm-3">{{product.description}}</td>
                                <td class="col-sm-1">{{product.unit}}</td>
                                <td class="col-sm-2">{{product.unitPrice}}</td>
                                <td class="col-sm-1">{{product.recQty}}</td>
                                <td class="col-sm-1">{{product.value}}</td>

                            </tr>    
                        </tbody>
                    </table>
                </div>


                <div class="box-footer">
                    <div class="col-sm-7">
                        <button class="btn btn-flat btn-primary" ng-show="mode === 'IDEAL'" ng-click="doNew();"><i class="fa fa-plus"></i> NEW</button>
                        <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doEdit();"><i class="fa fa-edit"></i> EDIT</button>
                        <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doDelete();"><i class="fa fa-trash"></i> DELETE</button>

                        <button class="btn btn-flat btn-primary" ng-hide="mode === 'IDEAL'" ng-click="doSave();"><i class="fa fa-save"></i> SAVE</button>
                        <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doDiscard();"><i class="fa fa-close"></i> DISCARD</button>
                        <button class="btn btn-flat btn-default" ng-hide="mode === 'IDEAL'" ng-click="doClear();"><i class="fa fa-retweet"></i> CLEAR</button>

                        <button class="btn btn-flat btn-default" ng-show="mode === 'IDEAL'" ng-click="doPrint();"><i class="fa fa-print"></i> PRINT</button>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-4">TOTAL VALUE</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm">
                                </div>
                            </div><br>
                            <div class="form-group">
                                <label class="control-label col-sm-4">DISCOUNT LESS</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm">
                                </div>
                            </div><br>
                            <div class="form-group">
                                <label class="control-label col-sm-4">FINAL VALUE</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="productSearch" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Product Search</h4>
                        </div>

                        <div class="modal-body no-padding">
                            <table class="table table-hover table-fixed">
                                <thead class="btn-default">
                                    <tr>
                                        <th class="col-sm-2">
                                            CATEGORY
                                            <input id="othertext1" placeholder="" class="form-control" ng-model="invoice.product.modelNo" type="text">
                                        </th>

                                        <th class="col-sm-2">
                                            BRAND
                                            <input id="othertext1" placeholder="" class="form-control" ng-model="invoice.product.productNo" type="text">
                                        </th>

                                        <th class="col-sm-3">
                                            DESCRIPTION
                                            <input id="othertext1" placeholder="" class="form-control" ng-model="invoice.product.description" type="text">
                                        </th>
                                        <th class="col-sm-2">MODEL</th>
                                        <th class="col-sm-2">PRICE</th>
                                        <th class="col-sm-1">QTY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in getProducts(null)| filter:invoice.product">
                                        <td class="col-sm-2">
                                            {{product.modelNo}}
                                        </td>
                                        <td class="col-sm-2">
                                            {{product.productNo}}
                                        </td>
                                        <td class="col-sm-3">
                                            {{product.description}}
                                        </td>
                                        <td class="col-sm-2">{{product.modelNo}}</td>
                                        <td class="col-sm-2">{{product.unitPrice}}</td>
                                        <td class="col-sm-1">{{product.value}}</td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>